<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="func_dismissModal();">
        <ion-icon slot="icon-only" ios="close-outline" md="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="perfil_img_container">
    <!-- <img class="perfil_img_img" src="../../assets/placeholder/placeholderProfile.jpg" alt=""> -->
    <img *ngIf="userProfile == ''" class="perfil_img_img" src="../../assets/placeholder/placeholderProfile.jpg" alt="">
    <img *ngIf="userProfile != ''" class="perfil_img_img" src="{{ userProfile }}" alt="">
  </div>
  <div class="perfil_info_container">
    <p class="perfil_info_text" style="text-transform: none !important;">
      <!-- 37120 -->
      {{ 'Versión: ' + appVersion }}
    </p>
    <p class="perfil_info_text">
      <!-- 37120 -->
      {{ mainService.credencialInfo.elNumEmpleado }}
    </p>
    <p class="perfil_info_text">
      <!-- Don Doggo Huesonson Perez -->
      {{ mainService.credencialInfo.elNombre }}
    </p>
    <!-- <p class="perfil_info_text">
      DEJJ831119HTSRRL04
    </p> -->
    <p class="perfil_info_text">
      <!-- DEJJ831119UTX -->
      {{ mainService.credencialInfo.elCURP }}
    </p>
    <p class="perfil_info_text">
      <!-- DESC. PUESTO -->
      {{ mainService.credencialInfo.elPuesto }}
    </p>
    <p class="perfil_info_text">
      <!-- SECRETARÍA DE ADMINISTRACIÓN (DE HUESOS) -->
      {{ mainService.credencialInfo.laDependencia }}
    </p>
  </div>

  <ion-button (click)="func_cambia_pass()" class="ion-text-wrap" color="gobred" fill="clear" style="display: block; width: 50vw; margin: auto; margin-top: 20px; margin-bottom: 20px;">Cambiar mi contraseña</ion-button>
  
  <!-- <ion-button (click)="func_perfilLogOut()" class="ion-text-wrap" color="none" style="display: block; width: 50vw; margin: auto; margin-top: 20px; margin-bottom: 30px; background-color: #A1193E; color: white;">Cerrar Sesión</ion-button> -->

  <ion-button style="margin-top: 25px;" (click)="func_perfilLogOut();" class="global-button" color="gobred">Cerrar Sesión</ion-button><br>

</ion-content>