  /// MODAL STUFF INI ///
  ion-modal {
    padding: 20px;
    --height: 40%;
    --border-radius: 16px;
    // --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(80, 80, 80);
    opacity: 1;
  }

  .modal-container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 100%;
    width: 100%;
  }
  /// MODAL STUFF END ///