<ion-header class="ion-no-border">
  <div class="global-header-style">
    <img class="global-fixed-aptra-header" src="../../assets/login/apptra_logo.png" alt="headd">
    <div style="display: flex; flex: 1 1; width: 100%; height: 20vh; padding-bottom: 2vh;">
      <ion-grid style="display: flex; flex-direction: column-reverse; bottom: 0px;">
        <ion-row class="ion-text-center">
          <ion-col size="6">
            <ion-button (click)="mainService.func_toggleMenu()" fill="clear" color="none" style="float: left; color: white;">
              <ion-icon style="font-size: 7vh;" name="menu-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6" style="align-self: center; text-align: right;">
            <!-- <div style="float: right; vertical-align: middle; font-weight: bold;" class="ion-text-wrap">Hola, {{ mainService.credencialInfo.elNombre.split(" ")[0] | titlecase }}</div> -->
            <ion-button id="popover-button" fill="clear" color="light" style="font-size: 18px !important;">
              <ion-icon slot="icon-only" name="ellipsis-vertical-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-header>

<ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false" (click)="func_descargaPDF();">
          <ion-icon aria-hidden="true" ios="download-outline" md="download-outline" slot="start"></ion-icon>
          <ion-label>Descargar Constancia</ion-label>
        </ion-item>

        <ion-item [button]="true" [detail]="false" *ngIf="credencial_interactiva_toggle == true;" (click)="credencialClick();">
          <ion-icon aria-hidden="true" ios="sync-outline" md="sync-outline" slot="start"></ion-icon>
          <ion-label>Girar credencial</ion-label>
        </ion-item>

        <ion-item [button]="true" [detail]="false" (click)="func_showQR();">
          <ion-icon aria-hidden="true" ios="qr-code-outline" md="qr-code-outline" slot="start"></ion-icon>
          <ion-label>Mostrar código QR</ion-label>
        </ion-item>

        <ion-item [button]="true" [detail]="false" (click)="func_credencial_interactiva_toggle();">
          <ion-icon slot="start" *ngIf="credencial_interactiva_toggle == true;" ios="power-outline" md="power-outline"></ion-icon>
          <ion-icon slot="start" *ngIf="credencial_interactiva_toggle == false;" ios="radio-button-off-outline" md="radio-button-off-outline"></ion-icon>
          <ion-label *ngIf="credencial_interactiva_toggle == true;" class="ion-text-wrap">Desactivar credencial dinámica</ion-label>
          <ion-label *ngIf="credencial_interactiva_toggle == false;" class="ion-text-wrap">Activar credencial dinámica</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="credencial_interactiva_toggle == true;" (click)="credencialClick();">
        <ion-icon slot="icon-only" ios="sync-outline" md="sync-outline"></ion-icon>
      </ion-button>
      
      <ion-button (click)="func_showQR();">
        <ion-icon slot="icon-only" ios="qr-code-outline" md="qr-code-outline"></ion-icon>
      </ion-button>
      
      <ion-button (click)="func_credencial_interactiva_toggle();">
        <ion-icon *ngIf="credencial_interactiva_toggle == true;" slot="icon-only" ios="power-outline" md="power-outline"></ion-icon>
        <ion-icon *ngIf="credencial_interactiva_toggle == false;" slot="icon-only" ios="radio-button-off-outline" md="radio-button-off-outline"></ion-icon>
      </ion-button>
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Credencial</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <app-explore-container name="Tab 4 page"></app-explore-container> -->

  <!-- <div style="width: 100%; margin: auto; text-align: center; margin-top: 25px;">
    <ion-button color="gobred" class="ion-text-wrap" style="width: 90%; margin: auto; text-align: center;" (click)="func_descargaPDF()">Descargar Constancia</ion-button>
  </div> -->

  <!-- <ion-row>
    <ion-col size="4">
      <ion-button (click)="mainService.func_nav_go_back()" fill="clear" class="global-registro-back" color="none" style="background-color: white; margin-top: 2vh !important; margin-left: 3vw; padding-top: 0px !important;">
        <ion-icon  slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="8">
      <ion-button style="width: 100% !important;" (click)="func_descargaPDF();" class="global-button" color="gobred">DESCARGAR CONSTANCIA</ion-button><br>
    </ion-col>
  </ion-row> -->

  <ion-button (click)="mainService.func_nav_go_back()" fill="clear" class="global-registro-back" color="none" style="background-color: white; margin-top: 2vh !important; margin-left: 3vw; padding-top: 0px !important;">
    <ion-icon  slot="icon-only" name="chevron-back-outline"></ion-icon>
  </ion-button>

  <p style="color: #A61B41; font-size: 30px; width: 90%; margin: auto; margin-top: 0px; margin-bottom: 20px; text-align: left !important; font-weight: bold;">Mi Credencial</p>

  <div *ngIf="credencial_interactiva_toggle == true;" class="flip-card" style="margin-bottom: 20px;">
    <div class="flip-card-inner" id="credencial">
      <div class="flip-card-front" (click)="credencialClick();">

        <!-- <div class="front-logo-div"> -->
        <div class="front-logo-div" [ngClass]="{'watermarked': flipped === false}" attr.data-watermark="{{ elCURP }}">
          <img src="../../assets/credencial/front-logo.png" style="height: 80%; margin: auto;" alt="">
        </div>

        <!-- <ion-grid class="front-pic-number-div"> -->
        <ion-grid class="front-pic-number-div" [ngClass]="{'watermarked': flipped === false}" attr.data-watermark="{{ elCURP }}">
          <ion-row class="no-padding" style="height: 100%; width: 100%; margin:0px !important; padding:0px !important;">
            <ion-col class="front-pic-number-col1" style="padding: 0px !important;">
              <div style="height: 100%;">
                <img style="float: right; height: 100%" src="{{ laFoto }}" alt="">
                <!-- <img style="float: right; max-width: 70%;" src="{{ laFoto }}" alt=""> -->
                <img *ngIf="laFoto == ''" style="float: right; height: 100%;" src="../../assets/placeholder/profile_placehold.jpeg" alt="">
              </div>
              <!-- <img *ngIf="laFoto == ''" style="float: right;" src="https://www.firesidepetlodge.com/wp-content/uploads/2021/03/chesapeake.png" alt=""> -->
            </ion-col>
            <ion-col class="front-pic-number-col2" style="padding: 0px !important;">
              <div class="front-div-empleado">
                <p style="font-size: clamp(3vw, 6vw, 30px); padding: 0px; margin: 0px; margin-bottom: 5px; font-weight: bolder;">{{ elNumEmpleado }}</p>
                <p style="font-size: clamp(1vw, 4vw, 22px); padding: 0px; margin: 0px;">NÚMERO DE EMPLEADO</p>
                <!-- <h1>{{ elNumEmpleado }}</h1>
                <h6>NÚMERO DE EMPLEADO</h6> -->
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- <div class="front-info-container"> -->
        <div class="front-info-container" [ngClass]="{'watermarked': flipped === false}" attr.data-watermark="{{ elCURP }}">
          <div class="front-div-info">
            <p class="this-but-bold info-titulo">NOMBRE</p>
            <p *ngIf="elNombre == ''" class="info-titulo-text this-but-bold">CARGANDO...</p>
            <p class="info-titulo-text this-but-bold">{{ elNombre | uppercase }}</p>
            <!-- <span class="this-but-bold info-titulo">NOMBRE</span><br>
            <span *ngIf="elNombre == ''" class="info-titulo-text this-but-bold">CARGANDO...</span>
            <span class="info-titulo-text this-but-bold">{{ elNombre | uppercase }}</span> -->
            <!-- <span *ngIf="elNombre == ''" class="info-titulo-text this-but-bold">DON DOGGO HUESONSON PEREZ</span> -->
            <!-- <span class="info-titulo-text this-but-bold">NARAHIM CIJAHU EMMANUELLE CIRILO RODRIGUEZ MARTINEZ</span> -->
          </div>
          <div class="front-div-info">
            <p class="this-but-bold info-titulo">DEPENDENCIA</p>
            <p *ngIf="laDependencia == ''" class="info-titulo-text this-but-bold">CARGANDO...</p>
            <p class="info-titulo-text this-but-bold">{{ laDependencia | uppercase }}</p>
            <!-- <span class="this-but-bold info-titulo">DEPENDENCIA</span><br>
            <span *ngIf="laDependencia == ''" class="info-titulo-text this-but-bold">CARGANDO...</span>
            <span class="info-titulo-text this-but-bold">{{ laDependencia | uppercase }}</span> -->
            <!-- <span *ngIf="laDependencia == ''" class="info-titulo-text this-but-bold">SECRETARÍA DE ADMINISTRACIÓN (DE HUESOS)</span> -->
            <!-- <span class="info-titulo-text this-but-bold">SECRETARÍA EJECUTIVA DEL SISTEMA ESTATAL ANTICORRUPCIÓN TAMAULIPAS</span> -->
          </div>
          <div class="front-div-info">
            <p class="this-but-bold info-titulo">PUESTO</p>
            <p *ngIf="elPuesto == ''" class="info-titulo-text this-but-bold">CARGANDO...</p>
            <p class="info-titulo-text this-but-bold">{{ elPuesto | uppercase }}</p>
            <!-- <span class="this-but-bold info-titulo">PUESTO</span><br>
            <span *ngIf="elPuesto == ''" class="info-titulo-text this-but-bold">CARGANDO...</span>
            <span class="info-titulo-text this-but-bold">{{ elPuesto | uppercase }}</span> -->
            <!-- <span *ngIf="elPuesto == ''" class="info-titulo-text this-but-bold">DESC. PUESTO</span> -->
            <!-- <span class="info-titulo-text this-but-bold">JEFE DE UNIDAD DE EJECUCION DE MEDIDAS DE TRATAMIENTO EN INTERNAMIENTO</span> -->
          </div>
        </div>
      </div>

      <!-- <div class="flip-card-back"> -->
      <div class="flip-card-back watermarked" attr.data-watermark="{{ elCURP }}">
        <ion-grid>
          <ion-row style="margin-top: 10px;">
            <ion-col size="7" style="display: flex; align-items: center;">
              <div class="back-info-container" (click)="credencialClick();">
                <div class="back-div-info">
                  <p class="this-but-bold back-info-titulo">CURP</p>
                  <p *ngIf="elNombre == ''" class="back-info-titulo-text this-but-bold">CARGANDO CURP...</p>
                  <p class="back-info-titulo-text this-but-bold">{{ elCURP | uppercase }}</p>
                  <!-- <span class="this-but-bold back-info-titulo">CURP</span><br>
                  <span *ngIf="elNombre == ''" class="back-info-titulo-text this-but-bold">CARGANDO CURP...</span>
                  <span class="back-info-titulo-text this-but-bold">{{ elCURP | uppercase }}</span> -->
                </div>
                <div class="back-div-info">
                  <p class="this-but-bold back-info-titulo">ALERGIAS</p>
                  <p *ngIf="elAlergia == ''" class="back-info-titulo-text this-but-bold">CARGANDO...</p>
                  <p *ngIf="elAlergia != null" class="back-info-titulo-text this-but-bold">{{ elAlergia | uppercase }}</p>
                  <p *ngIf="elAlergia == null" class="back-info-titulo-text this-but-bold">NINGUNA</p>
                  <!-- <span class="this-but-bold back-info-titulo">ALERGIAS</span><br>
                  <span *ngIf="elAlergia == ''" class="back-info-titulo-text this-but-bold">CARGANDO...</span>
                  <span *ngIf="elAlergia != null" class="back-info-titulo-text this-but-bold">{{ elAlergia | uppercase }}</span>
                  <span *ngIf="elAlergia == null" class="back-info-titulo-text this-but-bold">NINGUNA</span> -->
                  <!-- <span class="back-info-titulo-text this-but-bold">ASPIRINA (DATO PENDIENTE, SIN API)</span> -->
                  <!-- <span *ngIf="laDependencia == ''" class="back-info-titulo-text this-but-bold">ASPIRINA (DATO PENDIENTE, SIN API)</span> -->
                  <!-- <span class="back-info-titulo-text this-but-bold">{{ laDependencia }}</span> -->
                </div>
                <div class="back-div-info">
                  <p class="this-but-bold back-info-titulo">TIPO DE SANGRE</p>
                  <p *ngIf="elTipoSangre == ''" class="back-info-titulo-text this-but-bold">CARGANDO...</p>
                  <p *ngIf="elTipoSangre != null" class="back-info-titulo-text this-but-bold">{{ elTipoSangre | uppercase }}</p>
                  <p *ngIf="elTipoSangre == null" class="back-info-titulo-text this-but-bold">NO DISPONIBLE</p>
                  <!-- <span class="this-but-bold back-info-titulo">TIPO DE SANGRE</span><br>
                  <span *ngIf="elTipoSangre == ''" class="back-info-titulo-text this-but-bold">CARGANDO...</span>
                  <span *ngIf="elTipoSangre != null" class="back-info-titulo-text this-but-bold">{{ elTipoSangre | uppercase }}</span>
                  <span *ngIf="elTipoSangre == null" class="back-info-titulo-text this-but-bold">NO DISPONIBLE</span> -->
                  <!-- <span class="back-info-titulo-text this-but-bold">AB+ (DATO PENDIENTE, SIN API)</span> -->
                  <!-- <span *ngIf="elPuesto == ''" class="back-info-titulo-text this-but-bold">AB+ (DATO PENDIENTE, SIN API)</span> -->
                  <!-- <span class="back-info-titulo-text this-but-bold">{{ elPuesto }}</span> -->
                </div>
              </div>
            </ion-col>
            <ion-col style="display: flex; align-items: center;" (click)="credencialClick();">
              <img style="width: 65%; margin: auto;" src="../../assets/credencial/tamaulogo001.png" alt="ESCUDO_TAMAULIPAS_DORADO">
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="back-firma-container" (click)="credencialClick();">
                <img style="width: 55%; margin: auto; margin-top: 10px;" src="../../assets/credencial/firma_lavin.png" alt="FIMRA_LAVIN">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="back-qr-container" (click)="func_showQR()">
          <ion-grid>
            <ion-row style="height: 100%;">
              <ion-col style="height: 100%;">
                <!-- <div button id="open-modal" class="back-qr" (click)="func_showQR()">
                  <img style="height: 100%; text-align: center; margin: auto;" src="https://www.investopedia.com/thmb/hJrIBjjMBGfx0oa_bHAgZ9AWyn0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/qr-code-bc94057f452f4806af70fd34540f72ad.png" alt="ELQR">
                </div> -->
                <div button class="back-qr">
                  <div id="qrcode" #qrcode></div>
                </div>
                <!-- <div class="back-qr">
                  <img style="height: 100%; text-align: center; margin: auto;" src="../../assets/login/apptra_logo.png" alt="ELQR">
                </div> -->
              </ion-col>
              <ion-col class="back-qr-vigencia-container">
                <p class="back-qr-vigencia-text">VIGENCIA<br>31/12/2028</p>
                <!-- <h6 style="color: rgb(45, 45, 45);">VIGENCIA<br>31/12/2028</h6> -->
              </ion-col>
            </ion-row>
          </ion-grid>          
        </div>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div style="height: 20%; display: flex;" (click)="credencialClick();">
                <img style="width: 55%; margin: auto; opacity: 0; background-color: teal;" src="../../assets/credencial/firma_lavin.png" alt="FIMRA_LAVIN">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- <p (click)="credencialClick();" class="back-footer-text">Esta credencial es personal e intransferible, es propiedad del<br>Gobierno del Estado de Tamaulipas.<br>En caso de robo o extravío, favor de reportarla al 8343188000.</p> -->
      </div>
    </div>
  </div>

  <!-- <ion-modal #modal id="qrmodal" trigger="open-modal">
    <ng-template>
      <ion-content>
        <div class="modal-qr-container">
          <img style="height: 100%; margin: auto;" src="https://www.investopedia.com/thmb/hJrIBjjMBGfx0oa_bHAgZ9AWyn0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/qr-code-bc94057f452f4806af70fd34540f72ad.png" alt="ELQR">
          <div style="height: 100%; margin: auto;" #extraqrcode></div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal> -->


  <!-- CLON DE LA CREDENCIAL -- INI -- -->

  <div *ngIf="credencial_interactiva_toggle == false;" class="clone-flip-card" style="margin-bottom: 20px;">
    <div class="clone-flip-card-inner" id="credencial">
      <div class="clone-flip-card-front">
        <div class="front-logo-div" [ngClass]="{'watermarked': flipped === false}" attr.data-watermark="{{ elCURP }}">
          <img src="../../assets/credencial/front-logo.png" style="height: 80%; margin: auto;" alt="">
        </div>

        <ion-grid class="front-pic-number-div" [ngClass]="{'watermarked': flipped === false}" attr.data-watermark="{{ elCURP }}">
          <ion-row class="no-padding" style="height: 100%; width: 100%; margin:0px !important; padding:0px !important;">
            <ion-col class="front-pic-number-col1" style="padding: 0px !important;">
              <div style="height: 100%;">
                <img style="float: right; height: 100%" src="{{ laFoto }}" alt="">
                <img *ngIf="laFoto == ''" style="float: right; height: 100%;" src="../../assets/placeholder/profile_placehold.jpeg" alt="">
              </div>
            </ion-col>
            <ion-col class="front-pic-number-col2" style="padding: 0px !important;">
              <div class="front-div-empleado">
                <p style="font-size: clamp(3vw, 6vw, 30px); padding: 0px; margin: 0px; margin-bottom: 5px; font-weight: bolder;">{{ elNumEmpleado }}</p>
                <p style="font-size: clamp(1vw, 4vw, 22px); padding: 0px; margin: 0px;">NÚMERO DE EMPLEADO</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="front-info-container" [ngClass]="{'watermarked': flipped === false}" attr.data-watermark="{{ elCURP }}">
          <div class="front-div-info">
            <p class="this-but-bold info-titulo">NOMBRE</p>
            <p *ngIf="elNombre == ''" class="info-titulo-text this-but-bold">CARGANDO...</p>
            <p class="info-titulo-text this-but-bold">{{ elNombre | uppercase }}</p>
          </div>
          <div class="front-div-info">
            <p class="this-but-bold info-titulo">DEPENDENCIA</p>
            <p *ngIf="laDependencia == ''" class="info-titulo-text this-but-bold">CARGANDO...</p>
            <p class="info-titulo-text this-but-bold">{{ laDependencia | uppercase }}</p>
          </div>
          <div class="front-div-info">
            <p class="this-but-bold info-titulo">PUESTO</p>
            <p *ngIf="elPuesto == ''" class="info-titulo-text this-but-bold">CARGANDO...</p>
            <p class="info-titulo-text this-but-bold">{{ elPuesto | uppercase }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="credencial_interactiva_toggle == false;" class="clone-flip-card" style="margin-bottom: 20px;">
    <div class="clone-flip-card-inner" id="credencial">
      <div class="clone-flip-card-back watermarked" attr.data-watermark="{{ elCURP }}">
        <ion-grid>
          <ion-row style="margin-top: 10px;">
            <ion-col size="7" style="display: flex; align-items: center;">
              <div class="back-info-container">
                <div class="back-div-info">
                  <p class="this-but-bold back-info-titulo">CURP</p>
                  <p *ngIf="elNombre == ''" class="back-info-titulo-text this-but-bold">CARGANDO CURP...</p>
                  <p class="back-info-titulo-text this-but-bold">{{ elCURP | uppercase }}</p>
                </div>
                <div class="back-div-info">
                  <p class="this-but-bold back-info-titulo">ALERGIAS</p>
                  <p *ngIf="elAlergia == ''" class="back-info-titulo-text this-but-bold">CARGANDO...</p>
                  <p *ngIf="elAlergia != null" class="back-info-titulo-text this-but-bold">{{ elAlergia | uppercase }}</p>
                  <p *ngIf="elAlergia == null" class="back-info-titulo-text this-but-bold">NINGUNA</p>
                </div>
                <div class="back-div-info">
                  <p class="this-but-bold back-info-titulo">TIPO DE SANGRE</p>
                  <p *ngIf="elTipoSangre == ''" class="back-info-titulo-text this-but-bold">CARGANDO...</p>
                  <p *ngIf="elTipoSangre != null" class="back-info-titulo-text this-but-bold">{{ elTipoSangre | uppercase }}</p>
                  <p *ngIf="elTipoSangre == null" class="back-info-titulo-text this-but-bold">NO DISPONIBLE</p>
                </div>
              </div>
            </ion-col>
            <ion-col style="display: flex; align-items: center;">
              <img style="width: 65%; margin: auto;" src="../../assets/credencial/tamaulogo001.png" alt="ESCUDO_TAMAULIPAS_DORADO">
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="back-firma-container">
                <img style="width: 55%; margin: auto; margin-top: 10px;" src="../../assets/credencial/firma_lavin.png" alt="FIMRA_LAVIN">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="back-qr-container" (click)="func_showQR()">
          <ion-grid>
            <ion-row style="height: 100%;">
              <ion-col style="height: 100%;">
                <div button class="back-qr">
                  <div id="qrcode" #qrcode></div>
                </div>
              </ion-col>
              <ion-col class="back-qr-vigencia-container">
                <p class="back-qr-vigencia-text">VIGENCIA<br>31/12/2028</p>
              </ion-col>
            </ion-row>
          </ion-grid>          
        </div>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div style="height: 20%; display: flex;">
                <img style="width: 55%; margin: auto; opacity: 0; background-color: teal;" src="../../assets/credencial/firma_lavin.png" alt="FIMRA_LAVIN">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  <!-- CLON DE LA CREDENCIAL -- END -- -->
</ion-content>

<!-- 
  data:image/svg+xml;base64,
  data:image/jpg;base64,
 -->