<ion-content>
  <div class="login_bg">
    <img src="../../assets/login/apptra_logo.png" class="login_icon" alt="icon">
  </div>

  <div class="logo_container">
    <img src="../../assets/login/app_logo_alt.png" class="login_logo" alt="icon">
  </div>

  <div class="main_content">
    <ion-list class="main_content_list">
      <ion-item>
        <ion-label color="tertiary" position="floating">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="loginData.email" type="email"></ion-input>
      </ion-item>

      <ion-item style="border: solid black 0px;">
        <ion-label color="tertiary" position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="loginData.password" (keypress)="keyPress($event, $event)" type="password"></ion-input>
      </ion-item>

      <span class="main_content_space_20"></span>
      <!-- <ion-button id="open-modal" style="display: flex; text-transform: none !important; margin: auto; font-size: 12px;" color="gobred" fill="clear">Olvidé mi contraseña</ion-button> -->

      <!-- MODAL INI (NECEISTA ESTAR AQUÍ PORQUE EL DIOS DE IONIC LO DEMANDA)-->
      <!-- <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-content class="ion-padding">
            <div class="modal-body">
              <swiper-container>
                <ng-template swiperSlide style="height: 100% !important;">  
                  <div style="background-color: cyan; height: 100%; padding-bottom: 30px; width: 100%; align-items: center !important; justify-content: center !important;">
                    <p style="color: #A1193E; font-size: 20px; width: 85%; margin: auto; margin-bottom: 20px;">Restablecer la contraseña</p>
                    <ion-list class="main_content_list">
                      <ion-item>
                        <ion-label color="tertiary" position="floating">Ingresa tu correo clectrónico</ion-label>
                        <ion-input></ion-input>
                      </ion-item>
                      <ion-button style="width: 50%; text-transform: none !important; --border-radius: 10px; font-size: 15px; margin-bottom: 20px;" color="gobred">Siguiente</ion-button><br>
                    </ion-list>
                  </div>
                </ng-template>

                <ng-template swiperSlide>
                  <div style="background-color: teal; padding-bottom: 30px; width: 100%; align-items: center !important; justify-content: center !important;">
                    <p style="color: #A1193E; font-size: 20px; width: 85%; margin: auto; margin-bottom: 20px;">Restablecer la contraseña</p>
                    <p style="color: #BC936C; font-size: 16px; width: 85%; margin: auto;">Hemos enviado un código de confirmación de seis digitos al correo electrónico: <b>pepetoro@gmail.com</b> </p>
                    <ion-list class="main_content_list">
                      <ion-item>
                        <ion-label color="tertiary" position="floating">Ingresa el código de verificación</ion-label>
                        <ion-input></ion-input>
                      </ion-item>
                      <ion-item style="border: solid black 0px;">
                        <ion-label color="tertiary" position="floating">Nueva contraseña</ion-label>
                        <ion-input [(ngModel)]="loginData.email" type="email"></ion-input>
                      </ion-item>
                      
                      <ion-item style="border: solid black 0px;">
                        <ion-label color="tertiary" position="floating">Confirma tu contraseña</ion-label>
                        <ion-input [(ngModel)]="loginData.password" type="password"></ion-input>
                      </ion-item>

                      <ion-button style="width: 50%; text-transform: none !important; --border-radius: 10px; font-size: 15px; margin-bottom: 20px;" color="gobred">Finalizar</ion-button><br>
                    </ion-list>
                  </div>
                </ng-template>
              </swiper-container>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal> -->
      <!-- MODAL END -->

    </ion-list>
  </div>
  <div style="text-align: center; margin: auto; margin-top: 20px;">
    <ion-button (click)="func_doLogin();" style="width: 50%; text-transform: none !important; --border-radius: 10px; font-size: 15px; margin-bottom: 20px;" color="gobred">Ingresar</ion-button><br>
    <ion-button (click)="func_resetPass();" class="ion-text-wrap" style="text-transform: none !important;" color="tertiary" fill="clear"><p>¿Olvidaste tu contraseña?&nbsp;</p><p style="color: #A1193E">Presiona aquí</p></ion-button>
    <ion-button (click)="func_openRegistro();" class="ion-text-wrap" style="text-transform: none !important;" color="tertiary" fill="clear"><p>¿Aún no tienes cuenta?&nbsp;</p><p style="color: #A1193E">Registrate aquí</p></ion-button>
    <!-- <ion-button (click)="mainService.setCURP()" class="ion-text-wrap" style="text-transform: none !important;" color="tertiary" fill="clear"><p>¿No funca el login?&nbsp;</p><p style="color: #A1193E">Settea este CURP</p></ion-button> -->
    <!-- <ion-button (click)="mainService.setCURP()" class="ion-text-wrap" style="text-transform: none !important;" color="tertiary" fill="clear"><p>¿No funca AXIOS?&nbsp;</p><p style="color: #A1193E">Prueba con este</p></ion-button> -->
  </div>
</ion-content>