.login_bg {
    // background-color: red !important;
    background: url("../../assets/login/login_bg_01.png");
    width: 100%;
    height: 25%;
    background-size: cover;
    background-position: top;
    background-position: 50% 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.login_icon {
    height: 50%;
    // width: 50%;
    // max-width: 50%;
    max-height: 50%;
    margin-bottom: 30px;
}

.logo_container {
    margin-top: 3%;
    margin-bottom: 5%;
}

.login_logo {
    display: flex;
    margin: auto;
    width: 50%;
    max-width: 50%;
}

.new-login-logo {
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
}

.input-container {
  padding: 30px;
}

.input-login {
  margin-bottom: 20px;
}

input:focus {
  outline:none;
}

  /// MODAL STUFF INI ///
  ion-modal {
    padding: 20px;
    --height: 44%;
    --border-radius: 16px;
    border: 3px solid black;
    background: rgba(80, 80, 80, 0.3);
    opacity: 1;
    
  }

  .modal-body {
    display: flex !important;
    height: 100%;
    align-items: center !important;
    justify-content: center !important;
  }

  ion-modal::part(backdrop) {
    background: rgba(80, 80, 80, 0.3);
  }
  /// MODAL STUFF END ///
  

  /// TOOLTIP STUFF INI ///
  .tooltip .tooltiptext {
    visibility: hidden;
    // width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    left: 8vw;
    right: 8vw;
    // margin-left: 8vw;
    // margin-right: 8vw;
    padding: 5px;
    z-index: 1; 
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltiptext {
    transform: translateY(-60px);
    // display: inline-block;
  }
  /// TOOLTIP STUFF END ///