<ion-content>
  <div class="login_bg">
    <img src="../../assets/login/apptra_logo.png" class="login_icon" alt="icon">
  </div>

  <div class="logo_container">
    <img src="../../assets/login/app_logo_alt.png" class="login_logo" alt="icon">
  </div>

  <input placeholder="Correo electrónico" type="email" [(ngModel)]="loginData.email" class="global-input-text" style="margin-bottom: 20px;">
  
  <div class="global-password-container">
    <input placeholder="Contraseña" type="{{ passType }}" [(ngModel)]="loginData.password" (keypress)="keyPress($event, $event)" class="global-input-password" />
    <ion-button (click)="passwordType()" fill="clear" class="global-input-password-button">
      <ion-icon color="tertiary" *ngIf="passType == 'text'" slot="icon-only" name="eye-off-outline"></ion-icon>
      <ion-icon color="tertiary" *ngIf="passType == 'password'" slot="icon-only" name="eye-outline"></ion-icon>
    </ion-button>
  </div>

  <div style="text-align: center; margin: auto; margin-top: 20px;">
    <ion-button (click)="func_doLogin();" class="global-button" color="gobred">Ingresar</ion-button><br>
    <!-- <ion-button (click)="func_doLogin();" style="width: 50%; text-transform: none !important; --border-radius: 10px; font-size: 15px; margin-bottom: 20px;" color="gobred">Ingresar</ion-button><br> -->
    <ion-button (click)="func_resetPass();" class="ion-text-wrap" style="text-transform: none !important;" color="tertiary" fill="clear"><p>¿Olvidaste tu contraseña?&nbsp;</p><p style="color: #A1193E">Presiona aquí</p></ion-button>
    <ion-button (click)="func_openRegistro();" class="ion-text-wrap" style="text-transform: none !important;" color="tertiary" fill="clear"><p>¿Aún no tienes cuenta?&nbsp;</p><p style="color: #A1193E">Registrate aquí</p></ion-button>
    <!-- <ion-button (click)="mainService.setCURP()" class="ion-text-wrap" style="text-transform: none !important;" color="tertiary" fill="clear"><p>¿No funca el login?&nbsp;</p><p style="color: #A1193E">Settea este CURP</p></ion-button> -->
    <!-- <ion-button (click)="mainService.setCURP()" class="ion-text-wrap" style="text-transform: none !important;" color="tertiary" fill="clear"><p>¿No funca AXIOS?&nbsp;</p><p style="color: #A1193E">Prueba con este</p></ion-button> -->
    <!-- <ion-button (click)="func_doPruebaGet();" style="width: 50%; text-transform: none !important; --border-radius: 10px; font-size: 15px; margin-bottom: 20px;" color="gobred">PRUEBA GET</ion-button><br>
    <ion-button (click)="func_doPruebaPost();" style="width: 50%; text-transform: none !important; --border-radius: 10px; font-size: 15px; margin-bottom: 20px;" color="gobred">PRUEBA POST</ion-button><br> -->
  </div>
</ion-content>