.swiper-container {
    height: 250px;
    padding: 10px;
    width: 95% !important;
}

.swiper-image-container {
    width: 100% !important;
    height: 100% !important;
}

.swiper-image {
    height: 100% !important;
    padding: 20px !important;
}