<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>¡Bienvenido!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
      <!-- --- CREDENCIAL INI --- -->
      <div (click)="fucn_goTo('tab4')" style="background: no-repeat center/100% url('../../assets/etc/tab1_credencial.png'); width: 95%; margin:auto; background-size: contain; margin-top: 20px;">
        <div class="mini-cred-flip-card scale-this" style="margin-bottom: 0px;" [ngClass]="platform.is('ios') ? 'iosPlat' : 'androidPlat'">
          <div class="mini-cred-flip-card-inner">
            <div class="mini-cred-flip-card-front">
          <div class="mini-cred-front-logo-div">
            <img src="../../assets/credencial/front-logo.png" style="height: 80%; margin: auto;" alt="">
          </div>
      
          <ion-grid class="mini-cred-front-pic-number-div">
            <ion-row class="no-padding" style="height: 100%; width: 100%; margin:0px !important; padding:0px !important;">
              <ion-col class="mini-cred-front-pic-number-col1" style="padding: 0px !important;">
                <div style="height: 100%;">
                  <img style="float: right; height: 100%" src="{{ mainService.credencialInfo.laFoto }}" alt="">
                  <img *ngIf="mainService.credencialInfo.laFoto == ''" style="float: right; height: 100%;" src="../../assets/placeholder/profile_placehold.jpeg" alt="">
                </div>
              </ion-col>
              <ion-col class="front-pic-number-col2" style="padding: 0px !important;">
                <div class="mini-cred-front-div-empleado">
                  <p style="color: white; font-weight: bolder;" [ngClass]="platform.is('ios') ? 'iosNumEmpleado' : 'androidNumEmpleado'">{{ mainService.credencialInfo.elNumEmpleado }}</p>
                  <p style="color: white; font-weight: bold;" [ngClass]="platform.is('ios') ? 'iosNumEmpleadoText' : 'androidNumEmpleadoText'">NÚMERO DE EMPLEADO</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

          
      
          <div class="front-info-container">
            <!-- <div class="mini-cred-front-div-info" style="text-align: left; margin-top: 5px; margin-bottom: 5px;"> -->
            <div class="mini-cred-front-div-info" style="text-align: left; margin-top: 0.2vh; margin-bottom: 0.2vh;">
              <p [ngClass]="platform.is('ios') ? 'ios-info-titulo' : 'android-info-titulo'">NOMBRE</p>
              <p [ngClass]="platform.is('ios') ? 'ios-info-titulo-text' : 'android-info-titulo-text'" *ngIf="mainService.credencialInfo.elNombre == ''">CARGANDO...</p>
              <p style="padding-right: 2vw;" [ngClass]="platform.is('ios') ? 'ios-info-titulo-text' : 'android-info-titulo-text'">{{ mainService.credencialInfo.elNombre | uppercase }}</p>
            </div>
            <!-- <div class="front-div-info" style="text-align: left; margin-bottom: 5px;"> -->
            <div class="front-div-info" style="text-align: left; margin-bottom: 0.2vh;">
              <p [ngClass]="platform.is('ios') ? 'ios-info-titulo' : 'android-info-titulo'">DEPENDENCIA</p>
              <p [ngClass]="platform.is('ios') ? 'ios-info-titulo-text' : 'android-info-titulo-text'" *ngIf="mainService.credencialInfo.laDependencia == ''">CARGANDO...</p>
              <p style="padding-right: 2vw;" [ngClass]="platform.is('ios') ? 'ios-info-titulo-text' : 'android-info-titulo-text'">{{ mainService.credencialInfo.laDependencia | uppercase }}</p>
            </div>
            <div class="front-div-info" style="text-align: left; margin-bottom: 0.2vh;">
              <p [ngClass]="platform.is('ios') ? 'ios-info-titulo' : 'android-info-titulo'">PUESTO</p>
              <p [ngClass]="platform.is('ios') ? 'ios-info-titulo-text' : 'android-info-titulo-text'" *ngIf="mainService.credencialInfo.elPuesto == ''">CARGANDO...</p>
              <p style="padding-right: 2vw;" [ngClass]="platform.is('ios') ? 'ios-info-titulo-text' : 'android-info-titulo-text'">{{ mainService.credencialInfo.elPuesto | uppercase }}</p>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
      <!-- --- CREDENCIAL END --- -->

  <!-- <img button (click)="fucn_goTo('tab4')" src="../../assets/etc/tab1_credencial.png" alt="credencial_img" style="display: flex; width: 90%; margin:auto; margin-top: 20px; margin-bottom: 0px;"> -->
  
  <ion-grid style="display: flex; width: 90%;">
    <ion-row>
      <ion-col button (click)="fucn_goTo('tab2')">
        <img src="../../assets/etc/tab1_00_avisos.png" alt="credencial_img" style="display: flex; width: 100%; margin:auto;">
      </ion-col>
      <ion-col button (click)="fucn_goTo('tab3')">
        <img src="../../assets/etc/tab1_01_calendario.png" alt="credencial_img" style="display: flex; width: 100%; margin:auto;">
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="width: 85%; margin:auto;">
    <h4 style="color: #A1193E; font-weight: bold;">Tu semana...</h4>
  </div>

  <div *ngIf="tuSemana.length == 0" style="width: 85%; margin:auto;">
    <h5 style="color: #a1193dc3; margin-left: 25px;">○ {{ tuSemanaMsg }}</h5>
  </div>

  <div *ngIf="tuSemana.length != 0" style="width: 85%; margin:auto;">
    <!-- <h4 style="color: #A1193E; font-weight: bold;">Tu semana...</h4> -->
    <div *ngFor="let evento of tuSemana">
      <div *ngIf="evento.valido == true" style="background-color: #BC936C; color: white; padding: 2px; border-radius: 20px; margin-bottom: 10px;">
        <p style="margin-left: 15px; margin-right: 15px; font-size: 15px;"><span style="font-weight: bolder;">{{ evento['diaConvertido'] | titlecase }}</span> - {{  evento['titulo']  }}</p>
      </div>
    </div>
  </div>

  <!-- <ion-button style="display: flex; margin: auto; width: 50%; margin-top: 10px; margin-bottom: 10px;" (click)="func_forceTopic()">FORZAR TÓPICO</ion-button> -->

  <!--
    [autoplay]="true"
    [keyboard]="true"
    [pagination]="true"
    [scrollbar]="true"
    [zoom]="true"
  -->
  <!-- <swiper class="swiper-container" hidden [pagination]="true">
    <ng-template swiperSlide>
      <div class="swiper-image-container">
        <img class="swiper-image" src="../../assets/placeholder/placeholder_turismo.png" alt="credencial_img">
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-image-container">
        <img class="swiper-image" src="../../assets/placeholder/ds3.jpeg" alt="tamauligo">
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-image-container">
        <img class="swiper-image" src="../../assets/placeholder/justacircle.png" alt="otro">
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-image-container">
        <img class="swiper-image" src="https://th.bing.com/th/id/OIP.Gn0fp_mN06RVer5EqMwlywHaHa?pid=ImgDet&rs=1" alt="otoo">
      </div>
    </ng-template>
  </swiper> -->
  
  <img *ngIf="mainService.credencialInfo.elNombre == 'GENARO ANTONIO SARNO SARNO'" style="width: 20%; position:fixed; bottom: -2px; right: 5px;" src="../../assets/placeholder/imadethisfrfr.png" alt="imadethis">
  <img *ngIf="mainService.credencialInfo.elNombre == 'NICOLINA CARMELA POMPEYA SARNO BERARDI'" style="width: 20%; position:fixed; bottom: -2px; right: 5px;" src="../../assets/placeholder/stick_tia_nila.png" alt="imadethis">
  <img *ngIf="mainService.credencialInfo.elNombre == 'TERESA JOSEFINA SARNO BERARDI'" style="width: 20%; position:fixed; bottom: -2px; right: 5px;" src="../../assets/placeholder/stick_tia_chachi.png" alt="imadethis">
</ion-content>