<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-datetime id="elPerritoCalendario"
    [(ngModel)]="calendarDate"
    #datetime color="danger"
    [highlightedDates]="calendarioEventosPost"
    presentation="date"
    showDefaultTimeLabel="false"
    [firstDayOfWeek]="1"
    locale="es-MX"
    class="ion-calendario"
    size="cover" (ionChange)="calendarioChange($event)">
  </ion-datetime>

  <ion-list>
    <div *ngFor="let evento of calendarioEventosPost">
      <ion-item *ngIf="evento.valido == true">
          <ion-label class="ion-text-wrap"><span class="dia-pago this-but-bolder">{{ evento.fechaConvertida + ' - ' | uppercase }}</span>{{ evento.title }}</ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>