<ion-header class="ion-no-border">
  <div class="global-header-style">
    <img class="global-fixed-aptra-header" src="../../assets/login/apptra_logo.png" alt="headd">
    <div style="display: flex; flex: 1 1; width: 100%; height: 20vh; padding-bottom: 2vh;">
      <ion-grid style="display: flex; flex-direction: column-reverse; bottom: 0px;">
        <ion-row class="ion-text-center">

          <ion-col size="6" style="display: flex; align-items: center; margin-left: 0px;">
            <ion-button (click)="mainService.func_nav_go_back();" fill="clear" color="none" style="color: white; --padding-start: 0px !important;">
              <ion-icon style="font-size: 4vh;" name="chevron-back-outline"></ion-icon>
              <div>Regresar</div>
            </ion-button>
          </ion-col>

          <ion-col size="6" style="align-self: center;">
            <ion-button (click)="mainService.func_toggleMenu()" fill="clear" color="none" style="float: right; color: white;">
              <ion-icon style="font-size: 7vh;" name="menu-outline"></ion-icon>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-button (click)="mainService.func_nav_go_back()" fill="clear" class="global-registro-back" color="none" style="background-color: white; margin-left: 3vw; padding-top: 0px !important;">
    <ion-icon  slot="icon-only" name="chevron-back-outline"></ion-icon>
  </ion-button> -->

  <p style="color: #A61B41; font-size: 30px; width: 90%; margin: auto; margin-top: 20px; margin-bottom: 20px; text-align: left !important; font-weight: bold;">Mi Calendario</p>

  <ion-datetime id="elPerritoCalendario"
    [(ngModel)]="calendarDate"
    #datetime color="danger"
    [highlightedDates]="calendarioEventosPost"
    presentation="date"
    showDefaultTimeLabel="false"
    [firstDayOfWeek]="0"
    locale="es-MX"
    class="ion-calendario"
    size="cover"
    mode="md"
    (ionChange)="calendarioChange($event)">
  </ion-datetime>

  <ion-list>
    <div *ngFor="let evento of calendarioEventosPost">
      <ion-item *ngIf="evento.valido == true">
          <ion-label class="ion-text-wrap"><span class="dia-pago this-but-bolder">{{ evento.fechaConvertida + ' - ' | uppercase }}</span>{{ evento.title }}</ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>