<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" (ionDidOpen)="openedShit()" side="end"> <!-- side="end" PARA EL MENU EN LA DERECHA; SE VE FEO -->
      <ion-content>
        <ion-list id="inbox-list">
          <div style="display: block; width: 75%; margin-left: 23%;">
            <img *ngIf="profilePic != 'none'" class="clip_this" style="display: block; width: 40%; margin: auto; margin-top: 40px; margin-bottom: 10px; background-size: contain;" src="{{ profilePic }}" alt="user_png">
            <img *ngIf="profilePic == 'none'" class="clip_this" style="display: block; width: 40%; margin: auto; margin-top: 40px; margin-bottom: 10px; background-size: contain;" src="../assets/placeholder/placeholderProfile.jpg" alt="user_png">
            <h2 class="ion-text-wrap" style="display: block; text-align: center; margin: auto; padding: 10px; color: white; font-weight: bold;">¡Bienvenido! </h2>
            <hr style="display: block; border-bottom: 1px solid rgba(250,250,250,1); width: 90%; margin-bottom: 20px; margin-top: 20px;">
          </div>
          <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="func_openHome()">
              <ion-icon color="light" slot="start" [ios]="'home' + '-sharp'" [md]="'home' + '-sharp'"></ion-icon>
              <ion-label class="ion-text-wrap" style="margin-left: 10px; font-size: 16px; color: white; text-align: right;">Inicio</ion-label>
            </ion-item>

            <ion-item button (click)="func_openPerfil()">
              <ion-icon color="light" slot="start" [ios]="'person' + '-sharp'" [md]="'person' + '-sharp'"></ion-icon>
              <ion-label class="ion-text-wrap" style="margin-left: 10px; font-size: 16px; color: white; text-align: right;">Mi Perfil</ion-label>
            </ion-item>

            <!-- <ion-item>
              <ion-icon color="light" slot="start" [ios]="'help' + '-sharp'" [md]="'help' + '-sharp'"></ion-icon>
              <ion-label class="ion-text-wrap" style="margin-left: 10px; font-size: 16px; color: white;">Preguntas Frecuentes</ion-label>
            </ion-item> -->

            <!-- <ion-item button (click)="func_openRegistro()">
              <ion-icon color="light" slot="start" [ios]="'mail' + '-sharp'" [md]="'mail' + '-sharp'"></ion-icon>
              <ion-label class="ion-text-wrap" style="margin-left: 10px; font-size: 16px; color: white;">Contacto</ion-label>
            </ion-item> -->

            <!-- <ion-item (click)="func_logOut();">
              <ion-icon color="light" slot="start" [ios]="'car' + '-outline'" [md]="'log-out' + '-sharp'"></ion-icon>
              <ion-label class="ion-text-wrap" style="font-size: 16px; color: white;">Cerrar Sesión</ion-label>
            </ion-item> -->
          </ion-menu-toggle>
          <ion-item button (click)="func_logOut()">
            <ion-icon color="light" slot="start" [ios]="'log-out' + '-sharp'" [md]="'log-out' + '-sharp'"></ion-icon>
            <ion-label class="ion-text-wrap" style="margin-left: 10px; font-size: 16px; color: white; text-align: right;">Cerrar Sesión</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>