.elDateTime {
    background-color: lime;
    border: 3px solid lightsalmon;
}

.checadorDate-button {
    margin: auto;
    display: block;
    width: 85vw;
    height: 5.5vh;
    --border-radius: 10px;
    margin-bottom: 20px;

font-style: normal;
font-weight: 500;
font-size: 15px;
--color: #444b53 !important;
}