<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="func_dismissModal();">
        <ion-icon slot="icon-only" ios="close-outline" md="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cambio de contraseña</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar style="--background: linear-gradient(180deg, #ccb597 0%, #bf9974 100%) !important;">
    <img class="global-fixed-aptra-header-perfil" src="../../assets/login/apptra_logo.png" alt="headd">
    <ion-buttons slot="end">
      <ion-button (click)="func_dismissModal();">
        <ion-icon slot="icon-only" ios="close-outline" md="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="logo_container" style="margin-top: 25px;">
      <img src="../../assets/login/app_logo_alt.jpg" class="login_logo" alt="icon">
    </div>
  
    <p style="color: #A1193E; text-align: center; font-size: 20px; width: 85%; margin: auto; margin-top: 20px; margin-bottom: 30px;">Aquí podrás cambiar tu contraseña actual</p>
  
    <div class="global-password-container" style="margin-top: 20px; margin-bottom: 20px;">
      <input placeholder="Tu nueva contraseña" type="{{ passTypeRepeat }}" [(ngModel)]="pass" class="global-input-password" />
      <ion-button (click)="passwordType('normal')" fill="clear" class="global-input-password-button">
        <ion-icon color="tertiary" *ngIf="passType == 'text'" slot="icon-only" name="eye-off-outline"></ion-icon>
        <ion-icon color="tertiary" *ngIf="passType == 'password'" slot="icon-only" name="eye-outline"></ion-icon>
      </ion-button>
    </div>
  
    <div class="global-password-container" style="margin-bottom: 20px;">
      <input placeholder="Repetir Contraseña" type="{{ passTypeRepeat }}" [(ngModel)]="passRepeat" class="global-input-password" />
      <ion-button (click)="passwordType('normal')" fill="clear" class="global-input-password-button">
        <ion-icon color="tertiary" *ngIf="passType == 'text'" slot="icon-only" name="eye-off-outline"></ion-icon>
        <ion-icon color="tertiary" *ngIf="passType == 'password'" slot="icon-only" name="eye-outline"></ion-icon>
      </ion-button>
    </div>
  
    <ion-button style="margin-top: 25px;" (click)="func_cambiarPass();" class="global-button" color="gobred">Aceptar</ion-button><br>
  
    <ion-button (click)="func_dismissModal();" class="global-button" color="light">Cancelar</ion-button><br>
</ion-content>