<ion-content>
  <div class="login_bg">
    <img src="../../assets/login/apptra_logo.png" class="login_icon" alt="icon">
  </div>

  <div class="logo_container">
    <img src="../../assets/login/app_logo_alt.png" class="login_logo" alt="icon">
  </div>

  <div class="main_content">
    <ion-list class="main_content_list">
      <ion-item>
        <ion-label color="tertiary" position="floating">Correo Electrónico</ion-label>
        <ion-input></ion-input>
        <!-- <ion-input [(ngModel)]="user"></ion-input> -->
      </ion-item>
      <!-- <span class="main_content_space_20"></span> -->
      <ion-item style="border: solid black 0px;">
        <ion-label color="tertiary" position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
        <!-- <ion-input type="password" [(ngModel)]="pass"></ion-input> -->
      </ion-item>

      <ion-item style="border: solid black 0px;">
        <ion-label color="tertiary" position="floating">Repetir Contraseña</ion-label>
        <ion-input type="password"></ion-input>
        <!-- <ion-input type="password" [(ngModel)]="pass"></ion-input> -->
      </ion-item>
      <!-- <span class="main_content_space_20"></span> -->
      <!-- <ion-button style="display: flex; text-transform: none !important; margin: auto; font-size: 12px;" color="gobred" fill="clear">Olvidé mi contraseña</ion-button> -->
    </ion-list>
  </div>
  <div style="text-align: center; margin: auto; margin-top: 80px;">
    <!-- <ion-button style="width: 50%; text-transform: none !important; --border-radius: 10px; font-size: 15px; margin-bottom: 20px;" color="gobred">Iniciar Sesión</ion-button><br> -->
    <!-- <ion-button (click)="func_login()" style="width: 50%; text-transform: none !important; --border-radius: 10px; font-size: 15px; margin-bottom: 20px;" color="tertiary">Iniciar Sesión</ion-button><br> -->
    <ion-button style="width: 50%; text-transform: none !important; --border-radius: 10px; font-size: 15px;" color="gobred">Registrarme</ion-button><br>
    <!-- <ion-button (click)="goRegistro()" style="width: 50%; text-transform: none !important; --border-radius: 10px; font-size: 15px; margin-bottom: 20px;" color="tertiary">Registrarme</ion-button><br> -->
    <!-- <ion-button style="text-transform: none !important;" color="tertiary" fill="clear">Términos y Condiciones</ion-button> -->
  </div>
</ion-content>